@*@{
        Layout = "_Layout1.cshtml";
    }*@

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Verulam HighSchool Library </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" type="text/javascript" charset="utf8" defer></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/Theme1/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/Theme1/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Theme1/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/Theme1/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Theme1/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Theme1/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/Logo.jpg" alt="no image" style="height:45px"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">



                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("OurProducts", "Products")">Our Books</a></li>
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item active">
                            <a href="@Html.Partial("_LoginPartial", new { @class = "" }) </a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <!-- End header -->
    <!-- End Menu -->
    <!-- Start Gallery -->
    <!-- End Gallery -->
    <!-- End Contact info -->
    <!-- Start Footer -->
    <footer class="footer-area bg-f" style="position: relative; top: 5300px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>About Us</h3>
                    <p>We are striving to create opportunities for students and independent users to experience the joy of books weather its for leisure, work or personal reasons. Our mission is to provide our customers with first class products, value for money and excellent customer services. We stock books that cater for everyone’s needs, we are sure that our wide variety of books will do just that.</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Opening hours</h3>
                    <p><span class="text-color">Monday: </span> 7:Am - 4PM</p>
                    <p><span class="text-color">Tue-Wed :</span> 7:Am - 4PM</p>
                    <p><span class="text-color">Thu-Fri :</span> 7:Am - 4PM</p>
                    <p><span class="text-color">Saterday :</span> 9:Am - 12PM</p>
                    <p><span class="text-color">Sunday :</span> Clossed</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Contact information</h3>
                    <p class="lead">131 George Sewpersadh St, Verulam, Ethekwini, 4340</p>
                    <p class="lead"><a href="#">032 533 1431</a></p>
                    <p><a href="#"> verulamSecondaryschool@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Subscribe</h3>
                    <div class="subscribe_form">
                        <form class="subscribe_form">
                            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                            <button type="submit" class="submit">SUBSCRIBE</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>



    </footer>
    @RenderBody()
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Content/Theme1/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Theme1/js/popper.min.js"></script>
    <script src="~/Content/Theme1/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/Theme1/js/jquery.superslides.min.js"></script>
    <script src="~/Content/Theme1/js/images-loded.min.js"></script>
    <script src="~/Content/Theme1/js/isotope.min.js"></script>
    <script src="~/Content/Theme1/js/baguetteBox.min.js"></script>
    <script src="~/Content/Theme1/js/form-validator.min.js"></script>
    <script src="~/Content/Theme1/js/contact-form-script.js"></script>
    <script src="~/Content/Theme1/js/custom.js"></script>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
   


</body>
</html>
