@model BookStore.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>
<style>
    .AddLinkTab2 {
        height: 4.5rem;
        @*width: fit-content *@ padding: 0 1rem;
        border-radius: 0.375rem;
        background: #333136;
        color: #ffffff;
        box-shadow: 0 0.4rem 0 0 #4e4d52;
        letter-spacing: 3px;
        transition: all 0.3s;
        margin-top: 0px;
        text-align: center;
        padding-top: 12px;
    }
    .AddLinkTab3 {
        height: 4.5rem;
        width: fit-content;
        padding: 0 1rem;
        border-radius: 0.375rem;
        background: #333136;
        color: #ffffff;
        box-shadow: 0 0.4rem 0 0 #4e4d52;
        letter-spacing: 3px;
        transition: all 0.3s;
        margin-top: 0px;
        text-align: left;
        padding-top: 0px;
    }
</style>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    <br />
    <div class="container" style="background-color: none; padding: 0;">
        <div class="panel panel-default" style="background-color: none">
            <div class="panel-heading" style="background-color: none" ;> <h1>Change your account settings</h1></div>
            @*<h2 class="AddLinkTab2" style="color:azure; margin-top:30px;">Change your account settings</h2>*@
            <div class="panel-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <dt>External Logins:</dt>
                    <dd>
                        @Model.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>
                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                }
                            }
                            else
                            {
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                            }
                        </dd>
                    *@
                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        <p>
                            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @*@if (Model.TwoFactor)
                            {
                                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                    </text>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                    </text>
                                }
                            }*@
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>