@model IEnumerable<BookStore.Models.Sale>

@{
    ViewBag.Title = "PurchaseHistory";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2 style="color:black" class="text-center text-info">Previous Purchases</h2>
<h3 style="color:black" class="text-center text-warning">View &amp; Track Your Orders Here</h3>


<style>
    a.my-class {
        color: #333333
    }

        a.my-class:active {
            color: #666666
        }

        a.my-class:link {
            color: #999999
        }

        a.my-class:visited {
            color: #CCCCCC
        }
</style>
<hr />
@using (Html.BeginForm())
{
    <p style="margin-left:20px">
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="panel panel-info" style="margin-left:200px ">
    <tr>
        <th style="padding-right:200px">
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th style="padding-right:100px">
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th style="padding-right: 50px">
            @Html.DisplayNameFor(model => model.SaleTotal)
        </th>
        
    </tr>

    @foreach (var item in Model.Where(x => x.Email == User.Identity.Name))
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SaleDate)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    
    <td>
        &#82;@Html.DisplayFor(modelItem => item.SaleTotal)
    </td>
    <td>
        @Html.ActionLink("View And Track", "Details", "Sales", new { id = item.SaleId }, new { @class = "my-class" })
    </td>

    <td>
        @Html.ActionLink("Review", "Details", "Sales", new { id = item.SaleId },  new { @class = "my-class" })
    </td>
</tr>
    }

</table>
