@model IEnumerable<BookStore.Models.eBook>

@{
    ViewBag.Title = "PurchasedEreader";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>PurchasedEreader</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReadPosition)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    if (item.BookImageContent != null)
                    {
                        var base64 = Convert.ToBase64String(item.BookImageContent);
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        <img src="@imgSrc" width="200" height="200" />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            @Html.HiddenFor(modelItem => item.BookDescription)
            @Html.HiddenFor(modelItem => item.BookGenre)
            @Html.HiddenFor(modelItem => item.FileName)
            @*@Html.HiddenFor(modelItem => item.FilePath)*@
            @Html.HiddenFor(modelItem => item.LastReadPosition)

            <td>
                @Html.ActionLink("Read Book", "PlayeBook","eReader", new { id = item.Id}, new { @class = "btn-sm btn-primary" })
            </td>
        </tr>
    }

</table>

