@model IEnumerable<BookStore.ViewModels.FeedbackVM>

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Feedback</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bookname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bookname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
    </tr>
}

</table>
