@model BookStore.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCatergory.CatergoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCatergory.CatergoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Modify", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
