@model IEnumerable<BookStore.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p class="AddLinkTab" >
    @Html.ActionLink("Create New", "Create" ) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCatergory.CatergoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCatergory.CatergoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Info", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
